html {
	font-family: 'Times New Roman', Times, serif;
	font-size: 8pt;
}

html span {
	font-weight: bold;
}

.Block {
	width: 100%;
	outline: 1px solid #000;
}

.Block1 {
	width: 100%;
	outline: 1px solid #000;
	height: 200px;
}

.Block1_1,
.Block1_2,
.Block1_3 {
	height: 190px;
}

.Block1_1,
.Block2_1 {
	width: 20%;
	padding: 5px;
	outline: 1px solid #000;
	font-size: 10pt;
	text-decoration: underline;
	font-weight: bold;
}

.Block1_2 {
	width: 40%;
	padding: 5px;
	margin-left: 5px;
	padding-right: 0px;
}

.Block1_3 {
	width: 36%;
	padding: 5px;
	padding-right: 2px;
	padding-left: 10px;
}

.Block2_1 {
	width: 20%;
	padding: 5px;
	height: 280px;
}

.Block2_2 {
	width: 77%;
	padding: 5px;
}

.Block2_Kv {
	width: 50%;
	margin-left: 5px;
}

.Block1_3_1 {
	width: 50%;
}

.BlockBot {
	font-weight: normal;
	padding: 5px;
}

.EL1_OplataZaMesjac,
.EL2_PoluchatelNaimenovanie,
.EL6_PoluchatelBankPoluchatelja,
.EL10_AbonentFIO,
.EL11_AbonentLicevojSchetSberbank,
.EL12_AbonentAdres,
.EL36_DetaliItogovOplataZa,
.EL37_DetaliItogovKOplate,
.EL15_AbonentVsegoKOplate,
.EL_Podpis {
	width: 100%;
}

.EL37_DetaliItogovKOplate {
	text-align: right;
}

.EL9_AbonentLicevojSchet {
	width: 50%;
}

.EL1_OplataZaMesjac {
	font-family: 'Times New Roman', Times, serif;
	font-size: 10pt;
	font-weight: bold;
}

.EL_Gis {
	width: 100%;
	text-align: center;
}

.EL_Gis span {
	font-family: 'Times New Roman', Times, serif;
	font-size: 10pt;
	font-weight: bold;
}

.EL15_AbonentVsegoKOplate {
	font-family: 'Times New Roman', Times, serif;
	font-size: 9pt;
	font-weight: bold;
}

.EL_Podpis {
	font-family: 'Times New Roman', Times, serif;
	font-size: 9pt;
	font-weight: bold;
	margin-top: 5px;
	line-height: 1.5;
}

.Tel {
	font-weight: normal;
}

/* Верхняя таблица */

.Table1 {
	width: 300px;
	/* Ширина таблицы 
    height: 100px; */
	/* Высота таблицы */
	margin-top: 5px;
	font-size: 7pt;
}

.Table1 div {
	outline: 1px solid #000;
	background: #ffffff;
	min-height: 14px;

	line-height: 1.3;
}

.Table1Header {
	text-align: center;
}

.Table1Str {
	text-indent: 2px;
	text-align: left;
}

.Table1Header1 {
	width: 62%;
}

.Table1Header2 {
	width: 38%;
}

.Table1Header,
.Table1Contet,
.Table1Str {
	width: 100%;
}

.Table1Header4,
.Table1Header5,
.Table1Cell2,
.Table1Cell3 {
	width: 13%;
}

.Table1Header6,
.Table1Header7,
.Table1Cell4,
.Table1Cell5 {
	width: 19%;
}

.Table1Header3,
.Table1Cell1 {
	width: 36%;
}

/* Нижняя таблица */

.Table2 {
	width: 608px;
	height: 100px;
	margin-top: 5px;
}

.Table2Header {
	width: 100%;
	text-align: center;
}

.Table2Contet {
	width: 100%;
}

.Table2Str {
	width: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

.Table1Str {
	width: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

.Table2Itog {
	width: 100%;
}

.Table2 div {
	outline: 1px solid #000;
	background: #ffffff;
	min-height: 14px;

	line-height: 1.3;
	text-indent: 2px;
}

.Table2Itog {
	text-align: left;
}

.Str7 {
	font-weight: bold;
}

.Block1_3 > .EL13_AbonentPochtovoeOtdelenie {
	font-weight: bold;
	text-align: right;
	width: 100%;
}

.Block1_3 > .EL13_AbonentPochtovoeOtdelenie,
.Block1_3 > .EL7_PoluchatelRschet,
.Block1_3 > .EL8_PoluchatelKschet {
	text-align: right;
	width: 100%;
}

.Block1_3 > .EL5_PoluchatelBik {
	text-align: right;
	width: 50%;
}

.Block1_3 > .EL3_PoluchatelINN {
	text-align: left;
	width: 50%;
}

.Block1_3 > .QR {
	float: right;
}

.Table2Header1,
.Table2Header2,
.Table2Header3,
.Table2Header4,
.Table2Header5,
.Table2Header6,
.Table2Header7,
.Table2Header8,
.Table2Header9,
.Table2Header10 {
	height: 40px;
}

.Table2Header7_1 {
	width: 100%;
	height: 20px;
}

.Table2Header7_2 {
	width: 50%;
	height: 20px;
}

.Table2Header1,
.Table2Cell1 {
	width: 25%;
}

.Table2Header2,
.Table2Cell2 {
	width: 4%;
}

.Table2Header3,
.Table2Cell3 {
	width: 7%;
}

.Table2Header4,
.Table2Cell4 {
	width: 7%;
}

.Table2Header5,
.Table2Cell5 {
	width: 6%;
}

.Table2Header6,
.Table2Cell6 {
	width: 9%;
}

.Table2Header7 {
	width: 16%;
}

.Table2Header9,
.Table2Header10,
.Table2Cell9,
.Table2Cell10 {
	width: 8%;
}

.Table2Header8,
.Table2Cell8,
.Table2ItogCell2 {
	width: 10%;
}

.Table2ItogCell2 {
	width: 10%;
}

.Table2Cell7 {
	width: 8%;
}

.Table2ItogCell1 {
	width: 90%;
}

div {
	display: block;
	float: left;
}

.center {
	height: 40%;
}

.bot {
	height: 10%;
}

.topСontent {
	width: 80%;
}

.QR {
	width: 132px;
	height: 132px;
	background: #aaaaaa;
	margin: 5px;
}

.content {
	width: 800px;
	background: #f0f0f0;
}

.Over4 {
	width: 300px;
	display: block;
}

/* Больше 4  */

.Table1_big {
	width: 303px;
	height: auto;
	font-size: 7pt;
	margin-top: 1px;
}

.Table1_big div {
	outline: 1px solid #000;
	background: #ffffff;
	min-height: 10px;
	line-height: 1.15;
}

/* Правки 24.01 */

.Block2 {
	width: 100%;
	outline: 1px solid #000;
}

.Block3 {
	width: 100%;
	outline: 1px solid #000;
	margin-bottom: 5px; /* Равняем низ */
}

.Block1_3 > .EL13_AbonentPochtovoeOtdelenie,
.Block1_3 > .EL7_PoluchatelRschet,
.Block1_3 > .EL8_PoluchatelKschet {
	width: 98%;
	font-size: 13px;
}

.Block1_3 > .EL5_PoluchatelBik {
	width: 48%;
}

.Table2 {
	width: 611px;
	margin-left: 5px;
}

.Table1 {
	width: 303px;
	margin-top: 4px;
}

.Tel {
	margin-left: 5px;
	font-size: 9pt;
}

/* Если больше 5 строк */

.Table2_big {
	font-size: 7px;
}

.Table2_big div {
	min-height: 9px;
}

/* Вы должник */

.Dolg {
	position: absolute;
	font-size: 117px;
	transform: rotate(-20deg);
	opacity: 0.15;
	margin-top: 63px;
}

/* Выравнивание под принтер */

/*.Block3 {margin-bottom: 20px;}снизу добавляем блок со служебной инфой высотой 20px*/
.Block2_1 {
	height: 285px;
}
.Block1_1,
.Block1_2,
.Block1_3 {
	height: 205px;
}
.Block1 {
	height: 215px;
}

div.serv_info_vis {
	margin: 0;
	padding: 0;
	height: 15px;
	vertical-align: middle;
	display: inline-block;
	font-size: 7px;
	line-height: 2em;
}

@media print {
	p.new_page {
		page-break-after: always;
	}

	body {
		zoom: 100%;
	}

	/*@page :first {
        margin: 20px;  
        
   } */
	@page :left {
		margin: 4.28mm 6.01mm 3.23mm 6.01mm; /* Отступы для всех правых страниц */
		/*padding: 200px;*/
	}
	@page :right {
		margin: 4.28mm 6.01mm 3.23mm 6.01mm; /* Отступы для всех правых страниц */
		/*padding: 200px;*/
	}

	@page {
		size: A4 portrait;
	}
}

p.new_page {
	margin: 0;
	padding: 0;
}

div.serv_info {
	display: none;
}

/* Правки 11.03 */

body {
	margin: 0px;
	width: 19.9cm;
    height: 29cm;
}

.content {
	margin-left: 8px;
	margin-right: 8px;
}

.Block1 {
	margin-top: 7px;
}

.serv_info_vis {
	font-size: 8px;
	line-height: 0;
}

.serv_info_vis {
	height: 13px;
}

.Table1 {
	width: 300px;
	margin-top: 4px;
}

.content {
	width: 799px;
}

.Block1_2 {
	margin-left: 3px;
}

.Table2 {
	width: 607px;
}

.Block1_3_1 {
	width: 49%;
}

.serv_info_vis {
	height: 0px;
}

.BlockBot {
	font-weight: normal;
	padding: 3px;
}

.Block1,
.Block2,
.Block3 {
	border-right: 2px black solid;
}

/* Правки 30.03 */

.Table1 {
	width: 315px;
}

.Block2_Kv {
	width: 292px;
}

.Table1Header3,
.Table1Cell1 {
	width: 34%;
}

.Table1Header1 {
	width: 60%;
}

.Table1Header2 {
	width: 40%;
}

.Table1Header6,
.Table1Header7,
.Table1Cell4,
.Table1Cell5 {
	width: 20%;
}

.Table1_1-2pr div {
	min-height: 17px;
	line-height: 1.55;
}

.Table1_3-4pr div {
	outline: 1px solid #000;
	background: #ffffff;
	min-height: 14px;

	line-height: 1.3;
}

.Table1_5-8pr div {
	outline: 1px solid #000;
	background: #ffffff;
	min-height: 10px;
	line-height: 1.15;
}

.Over4 {
	width: 315px;
	display: block;
}



/* CSS Уведомление */ 
.content_ob {
    width: 799px;
    height: 580px;
    background: #f0f0f0;
    font-size  : 12pt;
    margin: 8px;
}

.Block1_ob {
    width: 779px;
    height: 560px;
    padding: 10px;
    outline: 1px solid #000;
    font-size: 14pt;
}
.content_ob h1 { text-align: center}
.content_ob p {text-indent: 25px;}


/* CSS Предупреждение */ 
.content_ob2 {
    width: 799px;
    height: 572px;
    background: #f0f0f0;
    font-size  : 12pt;
    margin: 8px;
}

.Block1_ob2 {
    width: 779px;
    height: 552px;
    padding: 8px;
    outline: 1px solid #000;
    font-size: 11pt;
}
.content_ob2 h1 { text-align: center;font-size: 18pt;}
.content_ob2 p {text-indent: 25px;}

/* CSS Иск */ 


.content_isk {
    width: 799px;
    height: auto;
    background: #f0f0f0;
    font-size  : 12pt;
    padding: 60px 20px 20px 80px;
}

.Block_isk_top_logo {
	width: 40%;
}


.Block_isk_bot {
	width: 33%;
}


.Block1_isk {
    width: 779px;
	text-align: justify;
   /* height: 552px; */
  /*  padding: 30px 5px 30px 5px; */

    font-size: 13.9pt;
}
.content_isk h1 { text-align: center;font-size: 13pt;}
.content_isk p {text-indent: 25px;}

.Block_isk_top {
	width: 60%;
}

.Block_isk_top p {
	text-indent: 0px;
}


div.Block_isk_top_logo img {
    height: 88px;
    width: auto;
    margin: 0;
    padding: 0;
}


.Block_isk_bot2{
	width: 100%;
    border-top: 1px black solid;
    text-align: center;
}


/* CSS Конверт */ 

.Block_Convert {
    width: 830px;
    height: 413px;
    background: #f9f9f9;
    font-size  : 12pt;
	margin: 8px;
	border: 1px #ffffff00 solid;
	-moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg); 
    -webkit-transform: rotate(90deg); 
    -o-transform: rotate(90deg);  
	transform: rotate(90deg);
	margin-top: 210px;
	margin-left: -2cm;
}


.Block_1 {
    width: 54%;
	height: 60%;
    margin: 10% 3% 4% 22%;
}
.Block_2 {
	width: 90%;
	height: 20%;
	margin: 5%;
	font-family: Pechkin;
    font-size: 50px;
    margin-left: 33px;
}
.Block_3 {
	width: 90%;
    height: 31%;
	margin: 5%;
}
.Block_4 {
    width: 70%;
    height: 23%;
	margin: 5%;
}

.Block_5 {
	font-weight: bold;
    width: 60%;
    height: 36%;
    margin: 5%;
}


.Block_1_2 {
	width: 50%;
	height: 100%;
}

@font-face {
    font-family: Pechkin; /* Гарнитура шрифта */
	src: url(/kvitanciya/html/Pechkin.ttf); /* Путь к файлу со шрифтом */
}

@font-face {	
	font-family: arial_warning;  /*Гарнитура шрифта*/ 
	src: url(/kvitanciya/html/arial_warning.ttf);  /*Путь к файлу со шрифтом */
}


/* CSS Предупреждение А4 */
.Block1_PredA4 {
	box-sizing: border-box;
    width: 100%;
	height: 17.1cm;
	text-align:justify;
    font-size: 12pt;
	border: 0.01cm transparent solid;
}
.content_PredA4 h1 { 
box-sizing: border-box;
text-align: center;
height: 0.5cm;
font-size: 12pt;  
margin-block-end: 0.4cm; 
margin-block-start: 0.4cm;
border: 0.01cm transparent solid;
}
.content_PredA4 p {
 box-sizing: border-box;
 text-indent: 1.25cm;
 margin-block-end: 0.2cm;
 margin-block-start: 0.2cm;
 border: 0.01cm transparent solid;
}

.content_PredA4 {
	box-sizing: border-box;	
    width: 19.7316cm;
    height: 26.93798cm;
    background: #f0f0f0;
    font-size  : 10pt;
	padding-top: 1.5682cm;
	padding-right: 0.9412cm;
	padding-bottom: 0.2cm;
	padding-left: 1.8904cm;		
	font-family: arial_warning;
	border: 0.01cm transparent solid;
}

.Block_PredA4_top_logo {
	box-sizing: border-box;
	width: 10.5cm;
    font-size: 12pt;
	border: 0.01cm transparent solid;
}
.Block_PredA4_top_logo2 {
	box-sizing: border-box;
	width: 10.5cm;
	height: 2cm;
    font-size: 12pt;
	border: 0.01cm transparent solid;
}
div.Block_PredA4_top_logo img {
    height: 2.51cm;
    width: 4.15cm;
    margin: 0;
    padding: 0;
}

.Block_PredA4_top {
	box-sizing: border-box;	
	width: 6.2cm;
	border: 0.01cm transparent solid;
}
.Block_PredA4_bottom_signer1 {
	box-sizing: border-box;
	width: 50%;
    font-size: 12pt;
	border: 0.01cm transparent solid;
}
.Block_PredA4_bottom_signer2 {
	box-sizing: border-box;
	width: 50%;
    font-size: 12pt;
	border: 0.01cm transparent solid;
}

.Block_PredA4_podp {
	box-sizing: border-box;
    width: 19.7316cm;
    height: 2cm;
    background: #f0f0f0;
    padding-top: 0cm;
    padding-right: 0.9412cm;
    padding-bottom: 1.16978cm;
    padding-left: 1.8904cm;
    font-family: arial_warning;
    border: 0.01cm transparent solid;
}

.Block_PredA4_bot {
	width: 33%;
}

.Block_PredA4_top p {
	box-sizing: border-box;	
	text-indent: 0px;
	border: 0.01cm transparent solid;

}

.Block_PredA4_top  {
	box-sizing: border-box;		
	font-size: 11pt;
	border: 0.01cm transparent solid;
}

.Block_PredA4_info  {
	box-sizing: border-box;	
	font-size: 9.7pt;
	height: 2.43cm;
	border: 0.01cm transparent solid;
}


.Block_PredA4_bot2{
	width: 100%;
    border-top: 0.01cm transparent solid;
    text-align: center;
}

.Block_PredA4_top span {color: #0069b4;}

/* CSS Извещение */
.Block1_izv {
    width: 100%;
	text-align:justify;
    font-size: 12pt;
}
.content_izvA4 h1 { text-align: center;font-size: 12pt;  margin-block-end: 0.5cm; margin-block-start: 1cm;}
.content_izvA4 p {
 text-indent: 1.25cm;
 margin-block-end: 0cm;
 margin-block-start: 0cm;
}
.content_izvA4 {
	box-sizing: border-box;
    width: 19.7316cm; 
    height: 26.93798cm;
    background: #f0f0f0;
    font-size  : 12pt;
	padding-top: 1.5682cm;
	padding-right: 0.9412cm;
	padding-bottom: 1.16978cm;
	padding-left: 1.8904cm;	
	font-family: arial_warning;
}
.Block_izvA4_podp {
	box-sizing: border-box;	
    width: 19.7316cm;
    height: 2cm;
    background: #f0f0f0;
    padding-top: 0cm;
    padding-right: 0.9412cm;
    padding-bottom: 1.16978cm;
    padding-left: 1.8904cm;
    font-family: arial_warning;
}
.Block_izvA4_info  {
	font-size: 9.7pt;
}
.Block_izvA4_top  {
	font-size: 11pt;
	width: 6.2cm;	
}
.Block_izvA4_top_logo {
	box-sizing: border-box;
	width: 10.5cm;
    font-size: 12pt;
}
.Block_izvA4_top_logo2 {
	box-sizing: border-box;
	width: 10.5cm;
	height: 2cm;
    font-size: 12pt;
}
div.Block_izvA4_top_logo img {
    height: 2.51cm;
    width: 4.15cm;
    margin: 0;
    padding: 0;
}
.Block_izvA4_bottom_signer1 {
	width: 50%;
    font-size: 12pt;
}
.Block_izvA4_bottom_signer2 {
	width: 50%;
    font-size: 12pt;
}

.Block_izv_top {
	width: 50%;
}

.Block_izv_bot {
	width: 33%;
}

div.Block_izv_top img {
    height: 88px;
    width: auto;
    margin: 0;
    padding: 0;
}
.content_izvA4 h1,
.content_izvA4 p,
.content_izvA4,
.Block_izvA4_podp,
.Block_izvA4_top,
.Block_izvA4_info,
.Block_izvA4_top_logo,
.Block_izvA4_top_logo2,
.Block_izvA4_bottom_signer1,
.Block_izvA4_bottom_signer2 {
 box-sizing: border-box;
 border:  0.01cm transparent solid;
}
/*--=====================================================================================--*/

/* CSS Предупреждение(Уведомление об отключении) */
.Block_Cancel_main {
    width: 100%;
	text-align:justify;
    font-size: 12pt;
}
.content_CancelA4 h1 { text-align: center;font-size: 12pt;  margin-block-end: 0.4cm; margin-block-start: 0.4cm;}
.content_CancelA4 p {
 text-indent: 1.25cm;
 margin-block-end: 0cm;
 margin-block-start: 0cm;
}
.Block_CancelA4_info  {
	font-size: 9.7pt;
}
.content_CancelA4_p2 p {
 text-indent: 1.25cm;
 margin-block-end: 0cm;
 margin-block-start: 0cm;
}
.content_CancelA4 {
    width: 19.7316cm; 
    height: 28.93798cm;
    background: #f0f0f0;
    font-size  : 12pt;
	padding-top: 1.5682cm;
	padding-right: 0.9412cm;
	padding-bottom: 1.16978cm;
	padding-left: 1.8904cm;	
}
.content_CancelA4_p2 {
    width: 19.7316cm;
    height: 24.63798cm;
    background: #f0f0f0;
    font-size  : 12pt;
	padding-right: 0.9412cm;
	padding-left: 1.8904cm;	
}
.Block_CancelA4_podp {
	box-sizing: border-box;	
    width: 19.7316cm;
    height: 2cm;
    background: #f0f0f0;
    padding: 0cm 1.2cm 0.7cm 2.1cm;
}
.Block_CancelA4_top_logo_p2 {
	width: 2cm;
	height: 1.6cm;
	padding-top: 0.5cm;
    font-size: 12pt;
}
.Block_CancelA4_top  {
	font-size: 11pt;
	width: 6.2cm;	
}
.Block_CancelA4_top_logo {
	box-sizing: border-box;
	width: 10.5cm;
    font-size: 12pt;
}
.Block_CancelA4_top_logo2 {
	box-sizing: border-box;
	width: 10.5cm;
	height: 2cm;
    font-size: 12pt;
}
div.Block_CancelA4_top_logo img {
    height: 2.51cm;
    width: 4.15cm;
    margin: 0;
    padding: 0;
}
.Block_CancelA4_top_p2 {
	width: 17.7316cm;
	height: 1.6cm;
	padding-top: 0.9182cm;
	text-align: center;
	font-size: 8pt;	
}
div.Block_CancelA4_top_logo_p2 img {
    height: 0.92cm;
    width: 0.85cm;
    margin: 0;
    padding: 0;
}
.Block_CancelA4_bottom_signer1 {
	width: 50%;
    font-size: 12pt;
}
.Block_CancelA4_bottom_signer2 {
	width: 50%;
    font-size: 12pt;
}
.content_CancelA4,
.content_CancelA4 h1,
.content_CancelA4 p,
.content_CancelA4_p2 ,
.content_CancelA4_p2 p,
.Block_CancelA4_podp,
.Block_CancelA4_top_logo,
.Block_CancelA4_top_logo2,
.Block_CancelA4_top_logo_p2,
.Block_CancelA4_top_p2,
.Block_CancelA4_bottom_signer1,
.Block_CancelA4_bottom_signer2{
	box-sizing: border-box;
    border:  0.01cm transparent solid;
    font-family: arial_warning;	
}

/* Конверт v2 */

.Block_Convert {
    width: 830px;
    height: 413px;
    background: #f9f9f9;
    font-size  : 12pt;
	margin: 8px;
	border: 1px #ffffff00 solid;
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg); 
    -webkit-transform: rotate(90deg); 
    -o-transform: rotate(90deg);  
	transform: rotate(90deg);
	/*margin-top: 210px;
	margin-left: -2cm;*/
	margin-top: 195px;
    margin-left: -27px;
}

.Name {
    position: absolute;
    margin-top: 43px;
    margin-left: 83px;
}

.Adres_otpr {
    position: absolute;
    margin-top: 70px;
    margin-left: 83px;
    line-height: 24px;
}

.Index_otpr {
    position: absolute;
    margin-top: 120px;
    margin-left: 259px;
    font-weight: bold;
}

.fio {
    position: absolute;
    margin-top: 202px;
    margin-left: 436px;
    width: 300px;
}

.Adres_pol {
    position: absolute;
    margin-top: 248px;
    margin-left: 436px;
    width: 300px;
}

.Index_pol {
    position: absolute;
    margin-top: 350px;
    margin-left: 440px;
    font-weight: bold;
}

.Index_big {
    position: absolute;
    margin-top: 340px;
    margin-left: 67px;
    font-weight: bold;
    font-family: Pechkin;
    font-size: 46px;
    letter-spacing: 0px;
}
.line1 {
	text-align:center;
	display: block;
    width: 2.3cm;
    border-bottom: 0.05cm black solid;	
}

.line2 {
	display: block;
    width: 3cm;
    border-bottom: 0.05cm black solid;	
}


.line3 {
	display: block;
    width: 2.3cm;
    border-bottom: 0.05cm black solid;	
}


.line4 {
	display: block;
    width: 2.3cm;
    border-bottom: 0.05cm black solid;	
}
@media print {
/* CSS Предупреждение А4 */
.Block1_PredA4 {
	box-sizing: border-box;
    width: 100%;
	height: 17.1cm;
	text-align:justify;
    font-size: 12pt;
}
.content_PredA4 h1 { 
box-sizing: border-box;
text-align: center;
height: 0.5cm;
font-size: 12pt;
font-family: arial_warning;  
margin-block-end: 0.4cm; 
margin-block-start: 0.4cm;
}
.content_PredA4 p {
 box-sizing: border-box;
 text-indent: 1.25cm;
 margin-block-end: 0.2cm;
 margin-block-start: 0.2cm;
}

.content_PredA4 {
	box-sizing: border-box;	
    width: 19.7316cm;
    height: 26.93798cm;
    background: #f0f0f0;
    font-size  : 10pt;
	font-family: arial_warning;	
	padding-top: 1.5682cm;
	padding-right: 0.9412cm;
	padding-bottom: 0.2cm;
	padding-left: 1.8904cm;		
}

.Block_PredA4_top_logo {
	box-sizing: border-box;
	width: 10.5cm;
    font-size: 12pt;
}
.Block_PredA4_top_logo2 {
	box-sizing: border-box;
	width: 10.5cm;
	height: 2cm;
    font-size: 12pt;
}
div.Block_PredA4_top_logo img {
    height: 2.51cm;
    width: 4.15cm;
    margin: 0;
    padding: 0;
}

.Block_PredA4_top {
	box-sizing: border-box;
	width: 6.2cm;
}
.Block_PredA4_bottom_signer1 {
	box-sizing: border-box;
	width: 50%;
    font-size: 12pt;
}
.Block_PredA4_bottom_signer2 {
	box-sizing: border-box;
	width: 50%;
    font-size: 12pt;
}

.Block_PredA4_podp {
	box-sizing: border-box;
    width: 19.7316cm;
    height: 2cm;
    background: #f0f0f0;
    padding-top: 0cm;
    padding-right: 0.9412cm;
    padding-bottom: 1.16978cm;
    padding-left: 1.8904cm;
	font-family: arial_warning;	
}

.Block_PredA4_bot {
	width: 33%;
}

.Block_PredA4_top p {
	box-sizing: border-box;	
	text-indent: 0px;

}

.Block_PredA4_top  {
	box-sizing: border-box;
	font-size: 11pt;	
}

.Block_PredA4_info  {
	box-sizing: border-box;
	font-size: 9.7pt;
	height: 2.43cm;
}
.content_PredA4,
.content_PredA4 p,
.Block_PredA4_top_logo,
.Block_PredA4_top_logo2, 
.Block_PredA4_top,
.Block_PredA4_bottom_signer1,
.Block_PredA4_bottom_signer2,
.Block_PredA4_podp,
.Block_PredA4_top p,
.Block_PredA4_top,
.Block_PredA4_info {
border:  0.01cm transparent solid;
}
/*--=====================================================================================--*/
/* CSS Извещение */
.Block1_izv {
    width: 100%;
	text-align:justify;
    font-size: 12pt;
}
.content_izvA4 h1 { text-align: center;font-size: 12pt;  margin-block-end: 0.5cm; margin-block-start: 1cm;}
.content_izvA4 p {
 text-indent: 1.25cm;
 margin-block-end: 0cm;
 margin-block-start: 0cm;
}
.content_izvA4 {
	box-sizing: border-box;
    width: 19.7316cm; 
    height: 26.93798cm;
    background: #f0f0f0;
    font-size  : 12pt;
	padding-top: 1.5682cm;
	padding-right: 0.9412cm;
	padding-bottom: 0cm;
	padding-left: 1.8904cm;	
	font-family: arial_warning;
}
.Block_izvA4_podp {
	box-sizing: border-box;	
    width: 19.7316cm;
    height: 2cm;
    background: #f0f0f0;
    padding-top: 0cm;
    padding-right: 0.9412cm;
    padding-bottom: 1.16978cm;
    padding-left: 1.8904cm;
    font-family: arial_warning;
}
.Block_izvA4_info  {
	font-size: 9.7pt;
}
.Block_izvA4_top  {
	font-size: 11pt;
	width: 6.2cm;	
}
.Block_izvA4_top_logo {
	box-sizing: border-box;
	width: 10.5cm;
    font-size: 12pt;
}
.Block_izvA4_top_logo2 {
	box-sizing: border-box;
	width: 10.5cm;
	height: 2cm;
    font-size: 12pt;
}
div.Block_izvA4_top_logo img {
    height: 2.51cm;
    width: 4.15cm;
    margin: 0;
    padding: 0;
}
.Block_izvA4_bottom_signer1 {
	width: 49%;
    font-size: 12pt;
}
.Block_izvA4_bottom_signer2 {
	width: 50%;
    font-size: 12pt;
}

.Block_izv_top {
	width: 50%;
}

.Block_izv_bot {
	width: 33%;
}

div.Block_izv_top img {
    height: 88px;
    width: auto;
    margin: 0;
    padding: 0;
}
.content_izvA4 h1,
.content_izvA4 p,
.content_izvA4,
.Block_izvA4_podp,
.Block_izvA4_top,
.Block_izvA4_info,
.Block_izvA4_top_logo,
.Block_izvA4_top_logo2,
.Block_izvA4_bottom_signer1,
.Block_izvA4_bottom_signer2 {
 box-sizing: border-box;
 border:  0.01cm transparent solid;
}
/*--=====================================================================================--*/
/* CSS Предупреждение(Уведомление об отключении) */
.Block_Cancel_main {
    width: 100%;
	text-align:justify;
    font-size: 12pt;
}
.content_CancelA4 h1 { text-align: center;font-size: 12pt;  margin-block-end: 0.4cm; margin-block-start: 0.4cm;}
.content_CancelA4 p {
 text-indent: 1.25cm;
 margin-block-end: 0cm;
 margin-block-start: 0cm;
}
.Block_CancelA4_info  {
	font-size: 9.7pt;
}
.content_CancelA4_p2 p {
 text-indent: 1.25cm;
 margin-block-end: 0cm;
 margin-block-start: 0cm;
}
.content_CancelA4 {
    width: 19.7316cm; 
    height: 28.93798cm;
    background: #f0f0f0;
    font-size  : 12pt;
	padding-top: 1.5682cm;
	padding-right: 0.9412cm;
	padding-bottom: 1.16978cm;
	padding-left: 1.8904cm;	
}
.content_CancelA4_p2 {
    width: 19.7316cm;
    height: 24.63798cm;
    background: #f0f0f0;
    font-size  : 12pt;
	padding-right: 0.9412cm;
	padding-left: 1.8904cm;	
}
.Block_CancelA4_podp {
	box-sizing: border-box;	
    width: 19.7316cm;
    height: 2cm;
    background: #f0f0f0;
    padding: 0cm 1.2cm 0.7cm 2.1cm;
}
.Block_CancelA4_top_logo_p2 {
	width: 2cm;
	height: 1.6cm;
	padding-top: 0.5cm;
    font-size: 12pt;
}
.Block_CancelA4_top  {
	font-size: 11pt;
	width: 6.2cm;	
}
.Block_CancelA4_top_logo {
	box-sizing: border-box;
	width: 10.5cm;
    font-size: 12pt;
}
.Block_CancelA4_top_logo2 {
	box-sizing: border-box;
	width: 10.5cm;
	height: 2cm;
    font-size: 12pt;
}
div.Block_CancelA4_top_logo img {
    height: 2.51cm;
    width: 4.15cm;
    margin: 0;
    padding: 0;
}
.Block_CancelA4_top_p2 {
	width: 17.7316cm;
	height: 1.6cm;
	padding-top: 0.9182cm;
	text-align: center;
	font-size: 8pt;	
}
div.Block_CancelA4_top_logo_p2 img {
    height: 0.92cm;
    width: 0.85cm;
    margin: 0;
    padding: 0;
}
.Block_CancelA4_bottom_signer1 {
	width: 50%;
    font-size: 12pt;
}
.Block_CancelA4_bottom_signer2 {
	width: 50%;
    font-size: 12pt;
}
.content_CancelA4,
.content_CancelA4 h1,
.content_CancelA4 p,
.content_CancelA4_p2 ,
.Block_CancelA4_podp,
.Block_CancelA4_top_logo
.Block_CancelA4_top_logo2
.Block_CancelA4_top_logo_p2,
.Block_CancelA4_top_p2,
.Block_CancelA4_bottom_signer1,
.Block_CancelA4_bottom_signer2{
	box-sizing: border-box;
    border:  0.01cm transparent solid;
    font-family: arial_warning;	
}	
}